{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ADMIN DASHBOARD</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/smart_scan.css' %}">
    <!-- Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  </head>
  <body>
    
    
    <!--  Top Navbar -->
    <nav class="navbar navbar-light bg-light px-3 custom-navbar">
        <button class="btn btn-outline-light d-md-none me-2" type="button"
                data-bs-toggle="offcanvas" data-bs-target="#mobileSidebar">
            <i class="bi bi-list"></i>
        </button>
        <div>
          <img src="{% static 'media/logo.png' %}"  class="logo-img" alt="">
          <a class="navbar-brand fw-bold" href="#">GATEKEEPER ALPR ADMIN PORTAL</a>
        </div>

        <div class="d-flex align-items-center">
            <i class="blue-text bi bi-gear me-3"></i>
            <i class="blue-text bi bi-envelope me-3"></i>

            <div class="dropdown">
                <a class="blue-text dropdown-toggle text-decoration-none" href="#" data-bs-toggle="dropdown">
                    {{ request.user.username }}
                </a>
                <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end">
                    <li><a class="blue-text dropdown-item" href="#">My Profile</a></li>
                    <li><a class="blue-text dropdown-item" href="#">Settings</a></li>
                    <li><a class="blue-text dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main-wrapper">

        <!--  Sidebar -->
        <div class="sidebar bg-light p-3">
            <ul class="nav flex-column">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin_dashboard' %}">
                        <i class="bi bi-house"></i> Dashboard
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'vehicle_records' %}">
                        <i class="bi bi-car-front"></i> Vehicle Records
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'smart_scan' %}">
                        <i class="bi bi-camera-video"></i> Smart Scan
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blacklist_whitelist' %}">
                        <i class="bi bi-shield-lock"></i> Blacklist / Whitelist
                    </a>
                </li>


            </ul>
        </div>

        <div class="content p-4">

          <div class="row g-2 mt-1">
            <!-- Upload Card -->
            <div class="card upload-card shadow-sm p-3">

                <!-- Title -->
                <h5 class="text-center fw-bold mb-3">Upload Video</h5>

                <form id="uploadForm">
                    {% csrf_token %}

                    <div id="drop-area" class="upload-box text-center p-3">
                        <i class="bi bi-cloud-upload upload-icon"></i>
                        <h5 class="mt-3">Drag & Drop video file or Click to Upload</h5>

                        <input type="file" name="video" id="fileElem" hidden>

                        <button type="button" class="btn btn-primary mt-2"
                            onclick="document.getElementById('fileElem').click()">
                            Choose File
                        </button>

                        <!--  ADD THIS BUTTON -->
                        <button type="submit" class="btn btn-success mt-2">
                            Upload & Process
                        </button>

                        <p id="file-name" class="mt-2 text-muted"></p>
                    </div>
                </form>

                <!-- Progress Bar -->
                <div class="mt-3">
                <div class="d-flex justify-content-between">
                    <span>Waiting for Upload...</span>
                    <span id="progress-text">0%</span>
                </div>

                <div class="progress mt-1">
                    <div id="progress-bar" class="progress-bar" style="width: 0%;"></div>
                </div>

                <div class="text-end mt-2">
                    <button class="btn btn-outline-secondary btn-sm" onclick="resetUpload()">Reset Upload</button>
                </div>
                </div>

                </div>


            </div>
          

          <div class="row g-4 mt-1">

            <!-- Recent Detections -->
            <div class="card custom-card">
                <div class="card-header d-flex justify-content-between align-items-center">

                    <h5 class="mb-0">Vehicle Records</h5>

                    <div class="d-flex align-items-center gap-2">

                        <!--  Download Button -->
                        <button id="downloadBtn" class="btn btn-success btn-sm" onclick="downloadData()" disabled>
                            <i class="bi bi-download"></i> Download
                        </button>

                        <!--  Search -->
                        <form id="searchForm" class="d-flex">
                            <div class="search-container">
                                <i class="bi bi-search search-icon"></i>
                                <input type="text" name="q" class="form-control me-2 search-input"
                                    value="{{ request.GET.q|default:'' }}" placeholder="Search Plate">
                                <button class="search-btn">Search</button>
                            </div>
                        </form>

                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table align-middle mb-0">

                        <thead>
                            <tr>
                                <th></th>
                                <th>Time</th>
                                <th>License Plate</th>
                                <th>Confidence</th>
                                <th>Frame</th>
                            </tr>
                        </thead>

                        <tbody id="realtimeTable">
                            <tr>
                                <td colspan="5" class="text-center text-muted">
                                    No data available
                                </td>
                            </tr>
                        </tbody>

                    </table>

                    <div class="d-flex justify-content-between align-items-center p-3">

                        <small class="record-info" id="recordInfo">
                            No data available
                        </small>

                        <nav>
                            <ul class="pagination custom-pagination mb-0" id="paginationControls">
                            </ul>
                        </nav>

                    </div>

                </div>
            </div>
            
          </div>
        </div>
        </div>

    </div>

    <div id="imageModal" class="image-modal">
        <span class="close-btn" onclick="closeModal()">&times;</span>
        <img class="modal-content" id="modalImage">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <script>
        
        let currentPage = 1;
        let lastData = "";

        function loadVideoResults(page = 1) {
            fetch(`/admin_panel/video-results/?page=${page}&q=${currentQuery}`)
                .then(res => res.json())
                .then(data => {

                    const table = document.getElementById("realtimeTable");
                    table.innerHTML = "";

                    if (data.records.length === 0) {
                        table.innerHTML = `
                            <tr>
                                <td colspan="5" class="text-center text-muted">
                                    No data available
                                </td>
                            </tr>
                        `;
                        return;
                    }

                    data.records.forEach((rec, index) => {
                        table.innerHTML += `
                            <tr>
                                <td>${(data.page - 1) * 5 + index + 1}</td>
                                <td>${rec.time}</td>
                                <td>${rec.plate}</td>
                                <td>${rec.confidence}</td>
                                <td>
                                     <img src="/static/${rec.image}" class="frame-img"
                                        onclick="openModal(this.src)"
                                         onerror="this.src='/static/images/no-image.png'">
                                </td>
                            </tr>
                        `;
                    });

                    
                    if (data.records.length === 0) {
                        document.getElementById("recordInfo").innerText = "No data available";
                        document.getElementById("paginationControls").innerHTML = "";
                        return;
                    }
                    
                    const start = (data.page - 1) * 5 + 1;
                    const end = start + data.records.length - 1;

                    document.getElementById("recordInfo").innerText =
                        currentQuery
                        ? `Showing ${start}–${end} of ${data.total} results for "${currentQuery}"`
                        : `Showing ${start}–${end} of ${data.total} records`;

                    //  PAGINATION UI
                    const pagination = document.getElementById("paginationControls");
                    pagination.innerHTML = "";

                    if (data.has_prev) {
                        pagination.innerHTML += `
                            <li class="page-item">
                                <a class="page-link" href="#" 
                                onclick="event.preventDefault(); loadVideoResults(${data.page - 1})">
                                ← Previous
                                </a>
                            </li>`;
                    }

                    pagination.innerHTML += `
                        <li class="page-item disabled">
                            <span class="page-link">Page ${data.page}</span>
                        </li>`;

                    if (data.has_next) {
                        pagination.innerHTML += `
                            <li class="page-item">
                                <a class="page-link" href="#" 
                                onclick="event.preventDefault(); loadVideoResults(${data.page + 1})">
                                Next →
                                </a>
                            </li>`;
                    }

                    if (data.records.length > 0) {
                        document.getElementById("downloadBtn").disabled = false;
                    }

                });
        }

        let dropArea = document.getElementById("drop-area");
        let fileInput = document.getElementById("fileElem");

        // Drag events
        ["dragenter", "dragover"].forEach(event => {
            dropArea.addEventListener(event, e => {
                e.preventDefault();
                dropArea.classList.add("bg-light");
            });
        });

        ["dragleave", "drop"].forEach(event => {
            dropArea.addEventListener(event, e => {
                e.preventDefault();
                dropArea.classList.remove("bg-light");
            });
        });

        fileInput.addEventListener("change", () => {
            if (fileInput.files.length > 0) {
                document.getElementById("file-name").innerText =
                    "Selected: " + fileInput.files[0].name;
            }
        });

        // Drop file
        dropArea.addEventListener("drop", e => {
            let files = e.dataTransfer.files;
            if (files.length > 0) {
                // show filename
                document.getElementById("file-name").innerText =
                    "Selected: " + files[0].name;

                // trigger AJAX upload instead
                fileInput.files = files;
                form.dispatchEvent(new Event("submit"));
            }
        });

        const form = document.getElementById("uploadForm");

        const progressBar = document.getElementById("progress-bar");
        const progressText = document.getElementById("progress-text");

        form.addEventListener("submit", function(e) {
            e.preventDefault(); 

            pollingActive = true;

            const file = fileInput.files[0];
            if (!file) {
                alert("Please select a video");
                return;
            }

            const formData = new FormData();
            formData.append("video", file);

            const xhr = new XMLHttpRequest();

            xhr.open("POST", "/admin_panel/smart_scan/", true);

            // CSRF token
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            xhr.setRequestHeader("X-CSRFToken", csrfToken);

            //  Upload progress
            xhr.upload.onprogress = function(e) {
                if (e.lengthComputable) {
                    let percent = Math.round((e.loaded / e.total) * 100);

                    progressBar.style.width = percent + "%";
                    progressText.innerText = percent + "%";
                }
            };

            xhr.onload = function() {
                if (xhr.status === 200) {

                    progressBar.style.width = "100%";

                    const response = JSON.parse(xhr.responseText);

                    if (response.running) {
                        progressText.innerText = "Processing video... ⏳";
                        setTimeout(checkProcessingStatus, 1000);
                    }

                } else {
                    progressText.innerText = "Upload Failed ";
                }
            };

            xhr.send(formData);
        });

        function checkProcessingStatus() {
            if (!pollingActive) return;   //  STOP if reset

            fetch("/admin_panel/processing-status/")
                .then(res => res.json())
                .then(data => {
                    if (data.running) {
                        progressText.innerText = "Processing video... ⏳";
                        setTimeout(checkProcessingStatus, 2000);
                    } else {
                        progressText.innerText = "Processing completed ";
                        //  LOAD TABLE NOW
                        loadVideoResults(1);
                    }
                });
        }

        let pollingActive = true;

        function resetUpload() {
            //  Stop polling
            pollingActive = false;

            //  Reset file input
            fileInput.value = "";

            //  Reset filename text
            document.getElementById("file-name").innerText = "";

            currentQuery = "";
            document.querySelector("input[name='q']").value = "";

            //  Reset progress UI
            progressBar.style.width = "0%";
            progressText.innerText = "Waiting for Upload...";

            //  CLEAR TABLE
            const table = document.getElementById("realtimeTable");
            table.innerHTML = `
                <tr>
                    <td colspan="5" class="text-center text-muted">
                        No data available
                    </td>
                </tr>
            `;

             //  CLEAR PAGINATION + RECORD INFO (ADD HERE)
            document.getElementById("paginationControls").innerHTML = "";
            document.getElementById("recordInfo").innerText = "No data available";

            //  Optional: notify backend to stop processing
            fetch("/admin_panel/stop-processing/");
        }

        let currentQuery = "";

        document.querySelector("input[name='q']").addEventListener("input", function() {
            currentQuery = this.value;
            loadVideoResults(1);
        });

        document.getElementById("searchForm").addEventListener("submit", function(e) {
            e.preventDefault();   

            currentQuery = document.querySelector("input[name='q']").value;
            loadVideoResults(1);
        });

        function openModal(src) {
            document.getElementById("imageModal").style.display = "block";
            document.getElementById("modalImage").src = src;
        }

        function closeModal() {
            document.getElementById("imageModal").style.display = "none";
        }

        // close when clicking outside image
        window.onclick = function(event) {
            const modal = document.getElementById("imageModal");
            if (event.target === modal) {
                modal.style.display = "none";
            }
        }

        function downloadData() {
            window.location.href = "/admin_panel/download-scan-data/";
        }

    </script>
  </body>
</html>